{% extends "base.html" %}
{% block content %}
      {% for switch in cursor %}
        <div class="row">
        <form action="/power" method="post">
          <div class="col-xs-6">
            <p align="center">
            <input type="hidden" name="switch_action" id="switch_action" value="{{switch[5]}}">
              <button type="submit" alt="off" class="btn btn-lg btn-info">{{switch[2]}}
              <br>
              <i class="fa fa-plug fa-4x"></i>
              </button>
            </p>
          </div>
        </form>
        <form action="/lights" method="post">
          <div class="col-xs-6">
            <p align="center">
            <input type="hidden" name="switch_action" id="switch_action" value="{{switch[4]}}">
              <button type="submit" alt="on" class="btn btn-lg btn-warning">{{switch[2]}}
              <br>
              <i class="fa fa-plug fa-4x"></i>
              </button>
            </p>
          </div>
        </form>
        </div>
      {% endfor %}
    </div>

  </div>

</div>
{% endblock %}